@import '../../../../styles/baseLayout';
@import '../../../../styles/modules/color';

header {
  .headerContainer {
    height: 40px;
  }
}

// 768以上の時は、ボタンがある
@media screen and (min-width: 992px) {
  header {
    .headerContainer {
      height: 64px;
      border-bottom: solid 0.7px #d9d9d9;
    }
  }
}
