@import '../../styles/baseLayout';
@import '../../styles/modules/color';

.detailPlanCard {
  background: skyblue;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: skyblue;
}
