@import '../../styles/baseLayout';
@import '../../styles/modules/color';

.tag-form {
  margin-top: 40px;
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .tag-label {
    align-self: end;
    text-align: left;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  input {
    width: 100%;
    font-size: 18px;
    height: 32px;

    border: 1px solid #d1d1d1;
    border-radius: 3px;
    width: 250px;
    grid-row: 2/ 3;
  }
}
