@import 'modules/color';

.signInPageWrap {
  // background: skyblue;
  margin-top: 48px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .signInPageWrap {
    height: 80vh;
    margin-top: -16px;
  }
}
