@import './baseLayout';

.box-wrap {
  @include layout;
  // background: skyblue;
  // .box {
  //   height: 100px;
  //   width: 100px;
  //   // background: white;
  // }
  .cal1 {
    background: red;
  }
  .cal2 {
    background: yellow;
  }
  .cal3 {
    background: blue;
  }
}

// .box-wrap {
//   @include layout;
//   background: skyblue;
//   display: flex;
//   justify-content: space-between;
//   .box {
//     height: 100px;
//     width: 100px;
//   }
//   .box1 {
//     background: red;
//   }
//   .box2 {
//     background: yellow;
//   }
//   .box3 {
//     background: blue;
//   }
// }
