@import '../../../styles/baseLayout';
@import '../../../styles/modules/color';

footer {
  margin-top: 80px;
  background: #354341;
  height: 150px;
  .logo {
    @include layout;
    color: $white;
    line-height: 150px;
  }
}
